NEXT_PUBLIC_FBS_API_KEY="AIzaSyBzsu9TO0vpZ5MpNYIcatwUWWK1DIaJJXw"
NEXT_PUBLIC_FBS_AUTH_DOMAIN="zimozi-test.firebaseapp.com"
NEXT_PUBLIC_FBS_PROJECT_ID="zimozi-test"
NEXT_PUBLIC_FBS_STORAGE_BUCKET="zimozi-test.firebasestorage.app"
NEXT_PUBLIC_FBS_MESSAGE_SENDER="686721817191"
NEXT_PUBLIC_FBS_APP_ID="1:686721817191:web:7dae23add70913efff12c2"

BE_URL="http://localhost:3001/api"