NODE_ENV=development

PORT=3001

DB_HOST=localhost
DB_PASSWORD=postgres
DB_USER=postgres
DB_PORT=5432
DB_NAME=zimozi_db

BCRYPT_SALT=11

JWT_SECRET=secretJWT123

FE_URL=http://localhost:3000

FBS_CRED_PATH=firebase.cred.json