NODE_ENV=development

PORT=3001

DB_HOST=localhost
DB_PASSWORD=postgres
DB_USER=postgres
DB_PORT=5432
DB_NAME=zimozi_db

BCRYPT_SALT=11

JWT_SECRET=secretJWT123

FE_URL=http://localhost:3000

FBS_TYPE=
FBS_PROJECT_ID=
FBS_PRIVATE_ID=
FBS_PRIVATE_KEY=
FBS_CLIENT_EMAIL=
FBS_CLIENT_ID=
FBS_AUTH_URI=
FBS_TOKEN_URI= 
FBS_AUTH_CERT= # auth cert
FBS_CLIENT_CERT= # client cert
FBS_UNI_DOMAIN= # universe domain